.resultModals {
  position: relative;
  width: 90%;
  left: 5%;
  height: 20rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.resultModal {
  position: relative;
  width: 33%;
  height: 18rem;
  background-color: rgb(12, 9, 9);
  border-radius: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  font-family: "Open Sans";
  font-size: 3vw;
}

.numberOutput {
  color: white;
  font-family: "Open Sans";
  display: inline-block;
}

.randomWord {
  color: white;
  font-family: "Open Sans";
  font-size: 3vw;
}

.images {
  position: absolute;
  border-radius: 5rem;
  width: 5rem;
  top: 1rem;
}

.tossed {
  margin: 0;
  color: white;
  font-size: 1rem;
  position: relative;
  top: -4rem;
}
